/* Estilos Contacto */

.contact-area {
    padding: 65px 0 0;
    position: relative;
}

.bloqueSeccion{
padding-bottom: 115px;
padding-top: 115px;
}

.contact-info{
background: #fffaef;
border-radius: 10px;
display: flex;
justify-content: space-between;
padding: 41px 0;

}

.contact-info-item{
text-align: center;
width: 33.3333%;
}

.contact-info-item a, .contact-info-item p {
color: #000;
font-size: 16px;
line-height: 28px;
display: block;
margin-bottom: 5px;
}

.contact-info-item .icon {
margin-bottom: 24px;
}

.contact-info-item:nth-child(2n) {
border-left: 2px solid #e0e0e0;
border-right: 2px solid #e0e0e0;
}

.btnContacto{
    margin: 25px 0 25px 0;
}