/* Estilos Contacto */


    .form-label{
        padding: 5px;
    }
    .form-control{
        margin: auto 0;
        width: 100%;
    }
    .btn{
        padding: 20px;
        border: none;
        font-family: 'Fjalla One', sans-serif;
        margin-top: 25px;
        text-decoration: none;    
    }
