/* Estilos Equipamiento */

.header_principal{
    background-image: url(../img/bg.jpg);
    height: 690x;
    width: 100%;
    display: flex;
}
.titulo__equipamiento{

    display: flex;
    flex-direction: column;
    h2{
        font: $fuente-principal;
        justify-content: center;
        text-align: center;
        padding: 25px 0 0 0;
        font-size: 2rem;
        color: rgb(29, 28, 28);
    }
    p{
        color: $color-parrafos;
        padding: 15px 0px ;
        font-size: 0.8rem;
        font-family: 'Quicksand', sans-serif; 
        text-align: center;
    }
}

.card{
    border: 10px solid;
    border-color: #f7f7f7;
    padding: 0 0 15px 0;
    margin: 0 0 25px 0;
    width: 360px;
    display: flex;
    
    .card__primera-seccion{
        width: auto;
    }
    .card__primera-seccion__imagen{
        width: 346px;
    }

    .card__segunda-seccion{

        .card__segunda-seccion__titulo{
            font: $fuente-principal;
            color: rgb(0, 0, 0);
            margin: 15px 25px 15px 25px;
            text-align: center;
            }
        .card__segunda-seccion__descripcion{
            font-family: 'Quicksand', sans-serif; 
            color: $color-parrafos;
            margin: 0 25px 15px 25px;
            font-size: 0.8rem;
            text-align: center;
        }

        .card__segunda-seccion__boton{
            background-color: #6d9ccc;
            border: none;
            font: $fuente-principal;
            color: #f7f7f7;
            font-size: 1rem;
            padding: 10px;
            margin: auto;
            display: block;
        }
    }
}

@media (min-width: 620px){
    
    .card{
        border-color: #f7f7f7;
        width: auto;
        margin: auto;
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;
        padding: 25px;

        .card__primera-seccion__imagen{
            width: 400px;
            margin:auto;
            justify-content: center;
            align-items: center;
        }
        .card__segunda-seccion{
            width: 450px;
        
        .card__segunda-seccion__titulo{
            text-align: left;
        }
        .card__segunda-seccion__descripcion{
            text-align: left;
        }
        .card__segunda-seccion__boton{
            margin: 0 0 0 25px;
        }
    }
    }
}

// Cambios