/* Estilos Nosotros */

.nosotros__principal{

//background-color: aquamarine;
display: flex;
flex-direction: row;

    .img__nosotros{
        width: 25rem;
        padding: 25px;
        box-shadow: 20px;
    }

    .nosotros__contenido{
        padding: 40px;
        h1{
            font: $fuente-principal;
            padding: 0 0 10px 0;
        }
        p{
            color: $color-parrafos;
            padding: 15px 0 0px 0;
            font-size: 1.1rem;
            font-family: 'Quicksand', sans-serif;

        }
        .nosotros__sponsors{
            //background-color: bisque;
            justify-content: center;
            align-items: center;
            .img__anac{
                margin-top: 5px;
            height: 150px;
        }
            .img__dji{
            width: 200px;
        }
        }
        
    }
}