/* Estilos Nosotros */

.card-nosotros{


    display: flex;
    flex-direction: column;

    .card-nosotros__primera-seccion{

        display: flex;
        justify-content: center;

        .card-nosotros__primera-seccion__imagen{
            width: 300px;
            padding: 20px 0 20px 0;
        }
    }

    .card-nosotros__inter-seccion{
        display: flex;
        flex-direction: column;

        .card-nosotros__segunda-seccion{
        
        width: 350px;
        margin: auto;

        .card-nosotros__segunda-seccion__titulo{
            font: $fuente-principal;
            margin: 0 0 0 25px;
            font-size: 1.5rem;
            
        }
        .card-nosotros__segunda-seccion__parrafo-negrita{
            font-family: 'Quicksand', sans-serif; 
            margin: 0 0 0 25px;
            font-weight: bold;
            padding: 5px 5px 5px 0;

        }
        .card-nosotros__segunda-seccion__parrafo{
            font-family: 'Quicksand', sans-serif; 
            margin: 0 0 0 25px;
            padding: 5px 5px 5px 0;
            color: $color-parrafos;

        }
        
    }
    .card-nosotros__tercera-seccion{

        display: flex;
        justify-content: space-evenly;
        padding: 25px;

        .card-nosotros__tercera-seccion__imagen-anac{
            width: 200px;
        }
        .card-nosotros__tercera-seccion__imagen-dji{
            width: 130px;
            padding: 5px;

        }
    }
}
}

// Media Querys

@media (min-width: 620px){

    .card-nosotros{

        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 25px 0 0 25px;
    
    }
    .card-nosotros__inter-seccion{

        .card-nosotros__tercera-seccion{

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 25px;

            .card-nosotros__tercera-seccion__imagen-anac{
                width: 200px;
            }
            .card-nosotros__tercera-seccion__imagen-dji{
                width: 130px;
                padding: 5px;

            }
        }
    }
}